.heading {
  color: #44b496;
  background: black;
  padding: auto;
  margin: auto;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
  border-radius: bold 1px white;
}
.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: auto;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.company-img {
  cursor: pointer;
  margin: 5px;
}
.launch-btn {
  cursor: pointer;
  border-radius: 5px;
  background: #44b496;
  padding: 10px;
  margin: 5px;
}
.currency-converter-container {
  text-align: center;
  height: 1000px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin: 200px;
}
.data-img-container {
  height: 400px;
  width: 400px;
}

.form-container {
  height: 400px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  background-color: #f9f9f9;
}

@keyframes glowing {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
.label {
  margin-bottom: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.select,
input,
button {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.p {
  margin: 10px;
  padding: 10px;
  border: solid black;
  border-radius: 5px;
  background-color: #44b496;
}
.img {
  height: 300px;
  width: 300px;
}
.body-container {
  display: flex;
  justify-content: space-between;
}
